#container {
    background-color: #c3d3d4 ;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.rows {
    display: flex; 
    flex-wrap: wrap;
}

.squares {
    display: flex;
    background-color: cadetblue;
    color: white;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    border: 0.1em solid #1167b1; 
    border-radius: 15%;
}

.hovered {
    background-color: #8968cd;
    display: flex;
    color: white;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    border: 0.1em solid #1167b1; 
    border-radius: 15%;
}