body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a5c8c9;
}

.title {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
    width: 600px;
    height: 100px;
    text-align: center;
    color: #42526e;
    font-weight: bold;
    font-size: 24px; 
}

p {
    font-size: 18px;
}

#container {
    background-color: #c3d3d4 ;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 580px; 
    height: 580px;
    padding: 15px;
    border-radius: 5%;
    border: 2px solid #1167b1; 
}

.rows {
    display: flex; 
    width: 100%; 
}

.squares {
    display: flex;
    background-color: cadetblue;
    box-sizing: border-box;
    border: 0.1em solid #1167b1; 
    border-radius: 15%;
}

.hovered {
    background-color: #8968cd;
}

.options {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #a5c8c9;
    width: 600px; 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
    margin-bottom: 12px;
}

.choices {
    display: flex;
    justify-content: space-evenly;
}

button {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
    width: 92px; 
    height: 52px;
    border: 2px solid #1167b1; 
    border-radius: 20%;
    background-color: #c3d3d4;
    color: #42526e;
    font-weight: bold;
}

h3 {
    color: #42526e;
}