body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a5c8c9;
}

.title {
    padding-bottom: 30px;
    width: 660px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-weight: bold;
    font-size: 36px; 
}

p {
    font-size: 18px;
}

button {
    font-family: 'Times New Roman', Times, serif; 

}

#container {
    background-color: #c3d3d4 ;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 660px; 
    height: 660px;
    padding: 30px;
    border-radius: 5%;
}

.rows {
    display: flex; 
    width: 100%; 
}

.squares {
    display: flex;
    background-color: cadetblue;
    color: white;
    box-sizing: border-box;
    border: 0.1em solid #1167b1; 
    border-radius: 15%;
}

.hovered {
    background-color: #8968cd;
}

.options {
    display: flex;
    margin: 30px 0;
}